- header('What is the Business Cookbook','A guide for the perplexed')

%h3 What?
%p The Business Cookbook is a collection of straight-forward recipes for business success, written by experts. What's more, it easily allows you to track your progress through each recipe, via a simple checkbox.

%h3 How?
%p= "To get started, head to #{link_to 'the homepage', root_path} and see what interesting recipes are on offer"

%p When you're on a recipe, click on the bookmark to save it for yourself. Click on the steps as you watch videos, read articles or listen to podcasts. Check 'your page' or the tool bar at the top of the screen to track your progress.

%h3 Where next?
%p= "As you can see, the Business Cookbook is a very simple service - that's because we'd love your help in deciding where it should go. We've designed it to be the antidote to boring, heavy, text-filled sites that wack you over the head with jargon. If you think we're on to something, and have any ideas on where we could go, please #{link_to 'let us know!', 'http://spreadsheets.google.com/viewform?formkey=dG10YkxwM2tPWkVNTC02dG9jNVk1QVE6MQ'}."