- header(@recipe.name, @recipe.chef.name, @recipe)

=render :partial => 'checklist', :locals => {:recipe => @recipe}

= link_to 'Edit', edit_recipe_path(@recipe)
|
\#{link_to 'Back', recipes_path}

- content_for :side do 
  = render :partial => 'chefs/side', :locals => {:chef => @recipe.chef}