body {
	font-family:tahoma;
}
#title {
	font-family:'Bakerville', 'Georgia';
	font-size:3em;
	padding-top:1em;
	margin-bottom:0;
}
div > h1, div > h2 {
	margin-top:0;
}
#tag_line {
	color:#F70707;
	margin-top:0;
}
h1, h2, h3, h4, h5 {
	font-weight:normal;
}
h2 {
	font-size:1.75em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.25em;
}
#hd {
	position:relative;
}
#bookmark {
	position:absolute;
	display:block;
	width:68px;
	height:175px;
	text-indent:-500em;
	background-image:url(../images/bookmark.png);
	background-repeat:no-repeat;
}
	#bookmark:hover {
		background-image:url(../images/bookmark-hover.png);
	}
	#bookmark.checked {
		background-image:url(../images/bookmark-checked.png);
	}
/* main */
#doc2 {
	overflow:hidden;
}
#wrap {
	border:1px solid #ddd;
	overflow-x:auto;
	overflow-y:hidden;
}
#book {
	background:#fff;
	border-right:4px solid #ddd;
}
#book, #chef {
	padding:0 2.5%;
}
	.content {
		margin-left:18%;
	}
/* common page elements */
#chef {
	padding-top:3em;
}

/* search */
#search_q {
	font-size:2em;
}

/* recipies */
	/* new */
	.recipe_form {
		overflow:auto;
	}
		.recipe_form label {
			display:block;
		}
		.recipe_form input, .recipe_form textarea {
			margin-bottom:0.5em;
		}
		.recipe_form > p {
			float:left;
		}
		.recipe_form .steps {
			clear:left;
		}
		.recipe_form .ingredients {
			margin-left:1em;
		}
		.recipe_form .submit {
			clear:left;
		}
	/* show */
	.recipe {
		padding:0.5em 2em 4em 2em;
		border:4px solid #eee;
	}
		.recipe h3 {
			font-family:'Bakerville','Georgia';
			color:#F70707;
		}
	.recipe_check_list {
		padding:0;
		margin-left:0.5em;
	}
	.recipe_check_list li {
		font-size:1.5em;
		line-height:1.75em;
		list-style-type:none;
	}
/* Chef
************************/
#chef {
	padding-left:1em;
	padding-right:1em;
}
.biog {
	overflow:auto;
}
	.profile_img {
		float:right;
		height:80px;
		border:1px solid #ddd;
	}

/* Awesome buttons
************************/

.awesome, .awesome:visited {
	background: #222 url(/images/buttons/alert-overlay.png) repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}

.awesome:hover									{ background-color: #111; color: #fff; }
.awesome:active									{ top: 1px; }

.small-b.awesome, .small-b.awesome:visited 		{ font-size: 11px; margin: 0 0 .5em 0; }
.awesome, .awesome:visited,
.medium-b.awesome, .medium-b.awesome:visited 	{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
.large-b.awesome, .large-b.awesome:visited 		{ font-size: 1.4em; padding: 8px 14px 9px; }

.scheme-2.awesome, .scheme-2.awesome:visited	{ background-color: #00C7C7; }
.scheme-2.awesome:hover							{ background-color: #00A6A6; }

.green.awesome, .green.awesome:visited			{ background-color: #91bd09; }
.green.awesome:hover							{ background-color: #749a02; }
.blue.awesome, .blue.awesome:visited			{ background-color: #2daebf; }
.blue.awesome:hover								{ background-color: #007d9a; }
.red.awesome, .red.awesome:visited				{ background-color: #e33100; }
.red.awesome:hover								{ background-color: #872300; }
.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
.magenta.awesome:hover							{ background-color: #630030; }
.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
.orange.awesome:hover							{ background-color: #d45500; }
.light-orange.awesome, .orange.awesome:visited	{ background-color: #fca961; }
.light-orange.awesome:hover						{ background-color: #ff5c00; }
.white.awesome, .orange.awesome:visited			{ background-color: #eee; color: #999; }
.white.awesome:hover							{ background-color: #999; color: #fff; }
.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
.yellow.awesome:hover							{ background-color: #fc9200; }

button {
	border:0 none;
}

.preload {
	width:0px;
	height:0px;
	margin:0;
	padding:0;
}