body {
	background:#DDD;
}
h1 {
	font-size:2em;
	margin-top:0;
}
h2 {
	font-size:1.75em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.25em;
}
/* main */
#doc2 {
	overflow:hidden;
}
#wrap {
	float:left;
	width:800px;
	background:#fff;
	padding:1em;
}
	#content {
		min-height:750px;
	}
/* common page elements */
#tabs {
	float:left;
	width:100px;
	padding:2em 0 0 0;margin:0;
}
	#tabs li {
		padding:0;margin:0 0 1em 0;
		height:120px;
		width:100px;
		list-style-type:none;
		background:#fff;
		display:block;
		background-repeat:no-repeat;
		background-position:center center;
		text-indent:-500em;
	}
	#tabs li a {
		height:120px;
		width:110px;
		display:block;
	}
	#tabs a:hover { 
		background: none;
	}
/* forms */

/* search */
#search_q {
	font-size:2em;
}

/* recipies */
	/* new */
	.recipe_form {
		overflow:auto;
	}
		.recipe_form label {
			font-size:2em;
			line-height:1.5em;
		}
		.recipe_form input, .recipe_form textarea {
			font-size:1.5em;
		}
		.recipe_form p {
			float:left;
		}
		.recipe_form .steps {
			clear:left;
		}
			.recipe_form .steps textarea {
				width:20em;
				height:20em;
			}
			.recipe_form .ingredients textarea {
				width:10em;
				height:10em;
			}
		.recipe_form .ingredients {
			margin-left:1em;
		}
		.recipe_form .submit {
			clear:left;
		}
	/* show */
	.recipe_check_list li {
		font-size:1.5em;
		line-height:1.75em;
		list-style-type:none;
	}
