- header('The Business Cookbook', 'Recipes for success')

%h3 Featured recipe:
= render :partial => 'recipes/recipe', :locals => {:recipe => @featured}

- content_for :chef do 
  = render :partial => 'chefs/side', :locals => {:chef => @featured.chef}
  %h3 Featured chefs
  %ul.links.chefs
    - recent_links(:chef, :name, 5).each do |link|
      %li= link
  %h3 Featured recipies
  %ul.links.recipes
    - recent_links(:recipe, :name, 5).each do |link|
      %li= link
    